{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}
<center>
    <br>
<h1>Bienvenido a CARE</h1>
</center>
<div class="productos">
    
    <section>
        <div class="columleft">
            <div class="row">
                <div class="col-md-4">
                    <br>
                    <br>
                    <br>
                    <p>En el transcurso de la historia, la gestión de consultorios médicos ha enfrentado persistentes</p>
                    <p>desafíos generando ineficiencias que afectan tanto a profesionales de la salud como a pacientes.  </p>
                    <p>Este problema arraigado ha provocado una disminución en la eficacia de los servicios </p>
                    <p>médicos y ha contribuido a la insatisfacción general  en el sistema de atención médica.  </p>
                    <p>La falta de un sistema eficiente para la programación de citas ha conducido a largos</p>
                    <p> tiempos de espera y confusiones, deteriorando la experiencia de atención médica.</p>
                    <p> CARE es una app movil de gestión automatizado que no solo mejoraría la eficiencia en la</p>
                    <p>programación de citas medicas sino que también se orientaría a reducir significativamente los</p>
                    <p> tiempos de espera.</p>
                    <p>Este enfoque innovador representa un avance significativo para mejorar el sistema de salud mexicano.</p>
                </div>
                <div class="col-md-8">
                    <div class="logo1">
                        {% load static %}
                       <img src="{% static 'app/img/logo CARE MA.png' %}" width="240px" height="240px">
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    </section>
    
    <section>
        <div class="columright">
            <div class="row">
                <div class="col-md-1">
                    <br>
                    <br>
                    <br>
                    <br>
                    <p>Emeyce Software Solutions es una micro-empresa estudiantil de desarrollo de software orientada</p>
                    <p> a la automatización de diversas actividades. Creada por los alumnos Carlo Tamayo, Jesus Trinidad</p>
                    <p> y Adrian Salamanca. Nuestro enfoque se centra en entender las demandas cambiantes del mercado y las </p>
                    <p>complejidades de las operaciones cotidianas en diversos ámbitos, desde instituciones educativas </p>
                    <p>hasta empresas de diferentes sectores.</p>
                    <p>En Emeyce Software Solutions, nos enorgullecemos de nuestra capacidad para convertir desafíos </p>
                    <p>en oportunidades y de nuestro compromiso con la excelencia en cada paso del camino. </p>
                </div>
                <div class="col-md-1">
                    <div class="logo2">
                        {% load static %}
                       <img src="{% static 'app/img/logo empresa.png' %}" width="310px" height="310px">
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
        <br>
        <br>
        <br>
        <div class="mision">
            <h1 class="mision1">Misión</h1>
            <h1 class="vision">Visión</h1>
        </div>
        <div class="parrafos">
           
            <br>
            <p class="pf-1">En Emeyce Software Solutions, nos comprometemos a mejorar la accesibilidad y eficiencia en la gestión de citas médicas a través de nuestras soluciones tecnológicas innovadoras. Nuestro enfoque se centra en desarrollar una aplicación móvil intuitiva y segura, una plataforma web informativa y un dispositivo IoT conectado, que permitan a profesionales de la salud y pacientes interactuar de manera fluida y confiable. Nos esforzamos por ofrecer herramientas que empoderen a los usuarios, facilitando la coordinación de citas médicas de manera eficaz y mejorando así la calidad de vida de las personas. En Emeyce, estamos impulsados por la pasión por la tecnología y el compromiso con la salud pública, trabajando constantemente para innovar y superar las expectativas de nuestros clientes y usuarios</p>
            
            <p class="pf-2">Con CARE, aspiramos a ser líderes en la industria de la salud digital, reconocidos por nuestra excelencia en la creación de soluciones tecnológicas avanzadas que transformen la manera en que se gestionan las citas médicas. Nos visualizamos como un referente global en innovación, colaborando estrechamente con profesionales de la salud y organizaciones médicas para impulsar la adopción de tecnología de vanguardia. Buscamos crear un ecosistema integral de productos y servicios que simplifiquen la experiencia tanto para médicos como para pacientes, promoviendo una atención médica más eficiente, accesible y centrada en el individuo. En Emeyce, nos comprometemos a seguir siendo pioneros en el desarrollo de soluciones disruptivas que mejoren la calidad de vida y contribuyan al bienestar de las comunidades en todo el mundo.</p>
            </div>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        <center>
        <h2>Imagenes de CARE app para teléfonos móviles</h2>
    </center>
    
        <div class="slider-frame">
            <ul>
                {% load static %}
                <li><img src="{% static 'app/img/care1.jpg' %}" alt=""></li>
                {% load static %}
                <li><img src="{% static 'app/img/care2.jpg' %}" alt="" ></li>
                {% load static %}
                <li><img src="{% static 'app/img/care3.jpg' %}" alt=""></li>
                {% load static %}
                <li><img src="{% static 'app/img/care4.jpg' %}" alt=""></li>
                {% load static %}
                <li><img src="{% static 'app/img/care5.jpg' %}" alt=""></li>
                {% load static %}
                <li><img src="{% static 'app/img/care6.jpg' %}" alt=""></li>
                {% load static %}
                <li><img src="{% static 'app/img/care7.jpg' %}" alt=""></li>
    
            </ul>
        </div>
    </section>
    
</div>
<br>
<br>
<br>

</div>
{% endblock  %}
    